@keyframes letra{
from{
    color: rgb(66, 13, 13);
}
50%{
    color: rgb(13, 66, 22);
}
90%{
    color: rgb(17, 13, 66);
}
100%{
    color: rgb(66, 13, 13);
}

}
body {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: letra;
    background-color: aliceblue;
}
